* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Roboto, Arial, Sans-Serif;
	outline: 0;
	text-rendering: optimizeLegibility;
	list-style: none;
	color: #3f3f58;
}

body {
	background: #f0f2f5;
	height: 100vh;
}

.menu, .container {
	padding-right: 80px !important;
	padding-left: 80px !important;
}

.menu {
	background: #fff;
    padding: 24px;
	font-size: 18px;
	border-bottom: 1px solid #e4e7ea;
    box-shadow: 0 0 20px rgba(0, 0, 0, .06);
	
	a, span {
		text-decoration: none;
		font-weight: 500;
		padding: 4px 5px;
		display: inline-block;
	}

	a.title {
		margin-right: 36px;
	}

	a {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background: #2e7aec;
			border-radius: 3px;
			color: #fff;
		}
	}
}

.container {
	padding: 36px;
	font-size: 20px;

	h1 {
		font-size: 30px;
	}

	.block {
		margin-top: 36px;
		display: block;
		background: #FFF;
		box-shadow: 0 0 20px rgba(0, 0, 0, .06);
		padding: 20px;
		border-radius: 5px;
		font-size: 18px;
	}

	code {
		margin-top: 16px;
		display: block;

		&, * {
			font-family: 'Consolas', monospace, 'Courier New', Courier;
		}
	}

}